.articles{
    width: 85%;
    margin: 4rem auto;
    &_center{
        text-align: center;
        margin-bottom: 2rem;
    }
}

table{
    width: 100%;
    border-collapse: collapse;
    & thead {
        background: rgba(128, 128, 128, 0.893);
        text-align: left;
        color: white;

        & tr th {
            padding: 0.7rem;
        }
    }
    & tbody {
        background: rgba(128, 128, 128, 0.037);
        & tr td {
            padding: 0.6rem;
        }
        &tr {
            transition: 400ms;
        }
        & tr:hover{
            background: rgba(128, 128, 128, 0.237);
            & #action{
                opacity: 1;
            }
        }
    }
}

.image img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border-radius: 0.5rem;
}

.update_image{
    border-radius: 1rem;
    width: 20rem;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}