.articles {
    margin: 5rem;
}

#category {
    border: none;
    width: 21rem;
    font-size: 1rem;
    padding: 0.5rem;
    background: rgba(200, 210, 214, 0.527);
    border-radius: 0.5rem;
}

#dimension input {
    width: 10rem;
    margin: 0.2rem;
}

#dimension span {
    font-weight: bold;
    color: gray;
    font-size: 1.1rem;
}